/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "compass/css3";

$all : #eee;
$less5 : #f00;
$less12 : #FF8200;
$less15 : #29BECE;
$upto12 : #EEFF52;
$upto15 : #FF52AB;
$over15 : #5DA346;

html{
	font-family: 'Oswald', sans-serif;
}
body{
	background-color: #2C2C2C;
	&.all{
		.shape.container{
			line, path{
				opacity: 0.25;
				&.all{
					opacity: 1;
					fill-opacity: 0.75;
				}
			}
		}
	}
	&.less5{
		.shape.container{
			line, path{
				opacity: 0.25;
				&.less5{
					opacity: 1;
					fill-opacity: 0.75;
				}
			}
		}
	}
	&.less12{
		.shape.container{
			line, path{
				opacity: 0.25;
				&.less12{
					opacity: 1;
					fill-opacity: 0.75;
				}
			}
		}
	}
	&.less15{
		.shape.container{
			line, path{
				opacity: 0.25;
				&.less15{
					opacity: 1;
					fill-opacity: 0.75;
				}
			}
		}
	}
	&.upto12{
		.shape.container{
			line, path{
				opacity: 0.25;
				&.upto12{
					opacity: 1;
					fill-opacity: 0.75;
				}
			}
		}
	}
	&.upto15{
		.shape.container{
			line, path{
				opacity: 0.25;
				&.upto15{
					opacity: 1;
					fill-opacity: 0.75;
				}
			}
		}
	}
	&.over15{
		.shape.container{
			line, path{
				opacity: 0.25;
				&.over15{
					opacity: 1;
					fill-opacity: 0.75;
				}
			}
		}
	}
}
*{
	@include box-sizing(border-box);
}
h3{
	font-size: 30px;
	padding: 10px 0;
	text-align: center;
	pointer-events: none;
	text-transform: uppercase;
}
.line{
	fill: none;
	stroke-width: 2;
	&.all{
		stroke: $all;
	}
	&.less5{
		stroke: $less5;
	}
	&.less12{
		stroke: $less12;
	}
	&.less15{
		stroke: $less15;
	}
	&.upto12{
		stroke: $upto12;
	}
	&.upto15{
		stroke: $upto15;
	}	
	&.over15{
		stroke: $over15;
	}
}
.introduced{
	.intro.slide{
		pointer-events: none;
		-webkit-animation-duration: 1s;
		      animation-duration: 1s;
		-webkit-animation-fill-mode: both;
		      animation-fill-mode: both;
		-webkit-animation-iteration-count: 1;
		      animation-iteration-count: 1;
		-webkit-animation-duration: 2s;
		      animation-duration: 2s;
		-webkit-animation-name: slideOutUp;
		      animation-name: slideOutUp;
		height: 0;
		overflow: hidden;
		@include transition(height 0.1s 0.9s);
	}
	#content{
		section{
			height: 100vh!important;
			overflow: visible;
			@include transition(height 0.1s 2s);
			&:first-child{
				h3{
					height: 20px;
					@include transition(height 0.1s 2s);
				}	
			}
		}
	}
}
.intro.slide{
	background-color: rgba(#2C2C2C, 0.75);
	font-family: 'Arvo', sans-serif;
	height: 110vh;
    position: relative;
	text-align: center;
    z-index: 1000;
	&:before{
		content: '';
		display: inline-block;
		height: 90vh;
		vertical-align: middle;
		width: 1%;
	}
	.contain{
		display: inline-block;
		vertical-align: middle;
		width: 95%;
	}
	.icon{
		height: 100px;
		margin: 0 auto;
		width: 100px;
		polygon,line,circle,path{
			fill: none;
			stroke: #fff;
			stroke-width: 2;
		}
	}
	h1{
		span{
			display: block;
		}
		.white{
			color: #fff;
			font-size: 30px;
			font-weight: 400;
			padding-bottom: 10px;
		}	
		.purple{
			color: #FE4DFD;
			font-size: 40px;
			font-weight: 700;
			padding-bottom: 10px;
		}
	}
	h5{
		color: #fff;
		font-size: 40px;
		font-weight: 700;
	}
}
#removeIntro{
	bottom: 60px;
	cursor: pointer;
	left: 50%;
	margin-left: -50px;
	max-width: 100px;
	position: fixed;
	width: 50%;
	p{
		color: #ddd;
		line-height: 2;
		@include transition(line-height 0.25s);
	}
	polyline{
		fill: none;
		stroke: #ddd;
		stroke-width: 1;
		@include transition(stroke-width 0.25s);
	}
	&:hover{
		polyline{
			stroke-width: 2;
			@include transition(stroke-width 0.25s);
		}
		p{
			line-height: 3;
			@include transition(line-height 0.25s);
		}
	}
}
footer{
	bottom: 20px;
	color: #ddd;
	font-family: Arial, sans-serif;
	font-size: 14px;
	left: 0;
	position: fixed;
	text-align: center;
	width: 100%;
	a{
		color: #ddd;
		&:hover{
			color: #fff;
		}
	}
}
.area{
	// fill: url(#firstPattern)!important;
	fill-opacity: 0.35;
	stroke-width: 0;
	@include transition(fill-opacity 0.5s);
	&:hover{
		fill-opacity: 0.65;
		@include transition(fill-opacity 0.5s);
	}		
}
.d3-tip{
	// left: 35px!important;
	// position: fixed!important;
	// top: 35px!important;
	opacity: 0!important;
	@include transition(opacity 0.5s);
}
.steps {
    margin-top: -75px;
    position: fixed;
    right: 40px;
    top: 50%;
    z-index: 1;
    cursor: pointer;
    .step{
    	background-color: rgba(200,200,200,0.3);
	    position: absolute;
	    width: 10px;
	    height: 10px;
	    -webkit-border-radius: 50%;
	    border-radius: 50%;
	    border: 5px solid rgba(0,0,0,0);
	    margin: 2px;
	    display: block;
	    @include transition(all 0.2s ease-in-out);
		&.all{
			background-color: rgba($all,0.3);
			&.current{
				background-color: rgba($all,0.85);
			}
		}
		&.less5{
			background-color: rgba($less5,0.3);
			&.current{
				background-color: rgba($less5,0.85);
			}
		}
		&.less12{
			background-color: rgba($less12,0.3);
			&.current{
				background-color: rgba($less12,0.85);
			}
		}
		&.less15{
			background-color: rgba($less15,0.3);
			&.current{
				background-color: rgba($less15,0.85);
			}
		}
		&.upto12{
			background-color: rgba($upto12,0.3);
			&.current{
				background-color: rgba($upto12,0.85);
			}
		}
		&.upto15{
			background-color: rgba($upto15,0.3);
			&.current{
				background-color: rgba($upto15,0.85);
			}
		}	
		&.over15{
			background-color: rgba($over15,0.3);
			&.current{
				background-color: rgba($over15,0.85);
			}
		}
	    span{
    		color: rgba(200,200,200,0);
		    display: block;
		    margin-right: 10px;
		    overflow: hidden;
		    pointer-events: none;
		    position: absolute;
		    right: 100%;
		    text-align: right;
		    top: -5px;
		    @include transition(all 0.2 ease-in-out);
		    width: 0;
	    }
	    &.current, &:hover{
		    width: 16px;
		    height: 16px;
		    -webkit-border-radius: 100%;
		    border-radius: 100%;
		    margin: -1px 0 0 -1px;
		    span{
    			color: rgba(200,200,200,0.85);
    			@include transition(all 0.2 ease-in-out);
		    	width: 150px;
		    }
	    }
	    &.current{
    		background-color: rgba(200,200,200,0.85);
	    }
	}
}
#graph{
    height: 95vh;
    left: 4%;
    position: fixed;
    top: 5vh;
    width: 92%;
	#patternall rect{
		fill: desaturate($all, 30%);
	}
	#patternless5 rect{
		fill: desaturate($less5, 30%);
	}
	#patternless12 rect{
		fill: desaturate($less12, 30%);
	}
	#patternless15 rect{
		fill: desaturate($less15, 30%);
	}	
	#patternupto12 rect{
		fill: desaturate($upto12, 30%);
	}
	#patternupto15 rect{
		fill: desaturate($upto15, 30%);
	}	
	#patternover15 rect{
		fill: desaturate($over15, 30%);
	}
}
.slidesUp{
	left: 0;
	opacity: 0;
	position: fixed;
	text-align: center;
	top: 35%;
	width: 100%;
	z-index: -1;
	p{
		color: #ddd;
		display: inline-block;
		font-family: Arial, sans-serif;
		line-height: 1.35;
		max-width: 950px;
		padding: 10px;
		width: 90%;
	}
}
h4{
	color: #ddd;
	font-family: 'Arvo', serif;
	font-size: 35px;
	font-weight: 700;
	letter-spacing: 2px;
	pointer-events: none;
	text-align: center;
	@include transition(opacity 0.5s, top 0.5s);
	width: 100%;
}
.tipper{
	line{
		stroke: rgba(200, 200, 200, 0.3);
		stroke-width: 1;
		stroke-dasharray: 10,5;
	}
}
#content{
	margin: 25px;
	section{
		height: 0vh;
		overflow: hidden;
		&:first-child{
			height: 1000vh;
			overflow: visible;
			h3{
				height: 1000vh;
			}
		}
		&.allOfThem{
			h3{
				height: 200vh;
			}
		}
		&:first-child{
			margin-top: 200vh;
		}
	}
}
.animated{
	.slidesUp{
		opacity: 1;
		top: 6%;
		@include transition(opacity 0.5s, top 0.5s);
	}
}
.tipper{
	opacity: 0;
	&.active{
		opacity: 1;
	}
	.hover.rects{
		rect{
			fill: rgba(#fff, 0);
		}
	}
	.texts{
		fill: #2C2C2C;
		font-weight: 700;
		font-family: Arial, sans-serif;
		font-size: 12px;
		letter-spacing: 2px;
		pointer-events: none;
		.kil{
			fill: lighten(#2c2c2c, 25%);
			font-family: 'Oswald';
			font-weight: 100;
			font-size: 10px;
		}
	}
	.label{
		fill-opacity: 0.95;
		&.all{
			fill: $all;
		}
		&.less5{
			fill: $less5;
		}
		&.less12{
			fill: $less12;
		}
		&.less15{
			fill: $less15;
		}
		&.upto12{
			fill: $upto12;
		}
		&.upto15{
			fill: $upto15;
		}	
		&.over15{
			fill: $over15;
		}
	}
	rect.filtered{
		fill: rgba(#ddd,0.95);
		stroke-width: 1;
		// &.all{
		// 	stroke : rgba($all, 0.5);
		// 	&:hover{
		// 		stroke : rgba($all, 0.95);
		// 	}
		// }
		// &.less5{
		// 	stroke : rgba($less5, 0.5);
		// 	&:hover{
		// 		stroke : rgba($less5, 0.95);
		// 	}
		// }
		// &.less12{
		// 	stroke : rgba($less12, 0.5);
		// 	&:hover{
		// 		stroke : rgba($less12, 0.95);
		// 	}
		// }
		// &.less15{
		// 	stroke : rgba($less15, 0.5);
		// 	&:hover{
		// 		stroke : rgba($less15, 0.95);
		// 	}
		// }
		// &.upto12{
		// 	stroke : rgba($upto12, 0.5);
		// 	&:hover{
		// 		stroke : rgba($upto12, 0.95);
		// 	}
		// }
		// &.upto15{
		// 	stroke : rgba($upto15, 0.5);
		// 	&:hover{
		// 		stroke : rgba($upto15, 0.95);
		// 	}
		// }
		// &.over15{
		// 	stroke : rgba($over15, 0.5);
		// 	&:hover{
		// 		stroke : rgba($over15, 0.95);
		// 	}
		// }
	}
}
tspan{
	font-family: 'Arial';
}
tspan.estimate{
	font-size: 8px;
    text-anchor: middle;
}
tspan.low,tspan.high{
	fill: #777;
	font-size: 8px;
	letter-spacing: 0;	
}
tspan.low{
    text-anchor: start;
}
tspan.high{
    text-anchor: end;
}
tspan.est{
	font-size: 16px;
}
line{
	fill: none;
	shape-rendering: crispEdges;
	stroke: #aaa;
	stroke-width: 1;
}
.axis{
    fill: #A7C0B8;
    font-family: 'Arial', sans-serif;
    font-size: 12px;
    font-weight: 300;
    letter-spacing: 0.5px;
	path{
    	fill: none;
    	shape-rendering: crispEdges;
    	stroke: #aaa;
    	stroke-width: 1;
    }
}
@-webkit-keyframes slideOutUp {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }

  100% {
    visibility: hidden;
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
}

@keyframes slideOutUp {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }

  100% {
    visibility: hidden;
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
}