/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 17, ../sass/screen.scss */
html {
  font-family: 'Oswald', sans-serif;
}

/* line 20, ../sass/screen.scss */
body {
  background-color: #2C2C2C;
}
/* line 24, ../sass/screen.scss */
body.all .shape.container line, body.all .shape.container path {
  opacity: 0.25;
}
/* line 26, ../sass/screen.scss */
body.all .shape.container line.all, body.all .shape.container path.all {
  opacity: 1;
  fill-opacity: 0.75;
}
/* line 35, ../sass/screen.scss */
body.less5 .shape.container line, body.less5 .shape.container path {
  opacity: 0.25;
}
/* line 37, ../sass/screen.scss */
body.less5 .shape.container line.less5, body.less5 .shape.container path.less5 {
  opacity: 1;
  fill-opacity: 0.75;
}
/* line 46, ../sass/screen.scss */
body.less12 .shape.container line, body.less12 .shape.container path {
  opacity: 0.25;
}
/* line 48, ../sass/screen.scss */
body.less12 .shape.container line.less12, body.less12 .shape.container path.less12 {
  opacity: 1;
  fill-opacity: 0.75;
}
/* line 57, ../sass/screen.scss */
body.less15 .shape.container line, body.less15 .shape.container path {
  opacity: 0.25;
}
/* line 59, ../sass/screen.scss */
body.less15 .shape.container line.less15, body.less15 .shape.container path.less15 {
  opacity: 1;
  fill-opacity: 0.75;
}
/* line 68, ../sass/screen.scss */
body.upto12 .shape.container line, body.upto12 .shape.container path {
  opacity: 0.25;
}
/* line 70, ../sass/screen.scss */
body.upto12 .shape.container line.upto12, body.upto12 .shape.container path.upto12 {
  opacity: 1;
  fill-opacity: 0.75;
}
/* line 79, ../sass/screen.scss */
body.upto15 .shape.container line, body.upto15 .shape.container path {
  opacity: 0.25;
}
/* line 81, ../sass/screen.scss */
body.upto15 .shape.container line.upto15, body.upto15 .shape.container path.upto15 {
  opacity: 1;
  fill-opacity: 0.75;
}
/* line 90, ../sass/screen.scss */
body.over15 .shape.container line, body.over15 .shape.container path {
  opacity: 0.25;
}
/* line 92, ../sass/screen.scss */
body.over15 .shape.container line.over15, body.over15 .shape.container path.over15 {
  opacity: 1;
  fill-opacity: 0.75;
}

/* line 100, ../sass/screen.scss */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 103, ../sass/screen.scss */
h3 {
  font-size: 30px;
  padding: 10px 0;
  text-align: center;
  pointer-events: none;
  text-transform: uppercase;
}

/* line 110, ../sass/screen.scss */
.line {
  fill: none;
  stroke-width: 2;
}
/* line 113, ../sass/screen.scss */
.line.all {
  stroke: #eee;
}
/* line 116, ../sass/screen.scss */
.line.less5 {
  stroke: #f00;
}
/* line 119, ../sass/screen.scss */
.line.less12 {
  stroke: #FF8200;
}
/* line 122, ../sass/screen.scss */
.line.less15 {
  stroke: #29BECE;
}
/* line 125, ../sass/screen.scss */
.line.upto12 {
  stroke: #EEFF52;
}
/* line 128, ../sass/screen.scss */
.line.upto15 {
  stroke: #FF52AB;
}
/* line 131, ../sass/screen.scss */
.line.over15 {
  stroke: #5DA346;
}

/* line 136, ../sass/screen.scss */
.introduced .intro.slide {
  pointer-events: none;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-name: slideOutUp;
  animation-name: slideOutUp;
  height: 0;
  overflow: hidden;
  -moz-transition: height 0.1s 0.9s;
  -o-transition: height 0.1s 0.9s;
  -webkit-transition: height 0.1s;
  -webkit-transition-delay: 0.9s;
  transition: height 0.1s 0.9s;
}
/* line 153, ../sass/screen.scss */
.introduced #content section {
  height: 100vh !important;
  overflow: visible;
  -moz-transition: height 0.1s 2s;
  -o-transition: height 0.1s 2s;
  -webkit-transition: height 0.1s;
  -webkit-transition-delay: 2s;
  transition: height 0.1s 2s;
}
/* line 158, ../sass/screen.scss */
.introduced #content section:first-child h3 {
  height: 20px;
  -moz-transition: height 0.1s 2s;
  -o-transition: height 0.1s 2s;
  -webkit-transition: height 0.1s;
  -webkit-transition-delay: 2s;
  transition: height 0.1s 2s;
}

/* line 166, ../sass/screen.scss */
.intro.slide {
  background-color: rgba(44, 44, 44, 0.75);
  font-family: 'Arvo', sans-serif;
  height: 110vh;
  position: relative;
  text-align: center;
  z-index: 1000;
}
/* line 173, ../sass/screen.scss */
.intro.slide:before {
  content: '';
  display: inline-block;
  height: 90vh;
  vertical-align: middle;
  width: 1%;
}
/* line 180, ../sass/screen.scss */
.intro.slide .contain {
  display: inline-block;
  vertical-align: middle;
  width: 95%;
}
/* line 185, ../sass/screen.scss */
.intro.slide .icon {
  height: 100px;
  margin: 0 auto;
  width: 100px;
}
/* line 189, ../sass/screen.scss */
.intro.slide .icon polygon, .intro.slide .icon line, .intro.slide .icon circle, .intro.slide .icon path {
  fill: none;
  stroke: #fff;
  stroke-width: 2;
}
/* line 196, ../sass/screen.scss */
.intro.slide h1 span {
  display: block;
}
/* line 199, ../sass/screen.scss */
.intro.slide h1 .white {
  color: #fff;
  font-size: 30px;
  font-weight: 400;
  padding-bottom: 10px;
}
/* line 205, ../sass/screen.scss */
.intro.slide h1 .purple {
  color: #FE4DFD;
  font-size: 40px;
  font-weight: 700;
  padding-bottom: 10px;
}
/* line 212, ../sass/screen.scss */
.intro.slide h5 {
  color: #fff;
  font-size: 40px;
  font-weight: 700;
}

/* line 218, ../sass/screen.scss */
#removeIntro {
  bottom: 60px;
  cursor: pointer;
  left: 50%;
  margin-left: -50px;
  max-width: 100px;
  position: fixed;
  width: 50%;
}
/* line 226, ../sass/screen.scss */
#removeIntro p {
  color: #ddd;
  line-height: 2;
  -moz-transition: line-height 0.25s;
  -o-transition: line-height 0.25s;
  -webkit-transition: line-height 0.25s;
  transition: line-height 0.25s;
}
/* line 231, ../sass/screen.scss */
#removeIntro polyline {
  fill: none;
  stroke: #ddd;
  stroke-width: 1;
  -moz-transition: stroke-width 0.25s;
  -o-transition: stroke-width 0.25s;
  -webkit-transition: stroke-width 0.25s;
  transition: stroke-width 0.25s;
}
/* line 238, ../sass/screen.scss */
#removeIntro:hover polyline {
  stroke-width: 2;
  -moz-transition: stroke-width 0.25s;
  -o-transition: stroke-width 0.25s;
  -webkit-transition: stroke-width 0.25s;
  transition: stroke-width 0.25s;
}
/* line 242, ../sass/screen.scss */
#removeIntro:hover p {
  line-height: 3;
  -moz-transition: line-height 0.25s;
  -o-transition: line-height 0.25s;
  -webkit-transition: line-height 0.25s;
  transition: line-height 0.25s;
}

/* line 248, ../sass/screen.scss */
footer {
  bottom: 20px;
  color: #ddd;
  font-family: Arial, sans-serif;
  font-size: 14px;
  left: 0;
  position: fixed;
  text-align: center;
  width: 100%;
}
/* line 257, ../sass/screen.scss */
footer a {
  color: #ddd;
}
/* line 259, ../sass/screen.scss */
footer a:hover {
  color: #fff;
}

/* line 264, ../sass/screen.scss */
.area {
  fill-opacity: 0.35;
  stroke-width: 0;
  -moz-transition: fill-opacity 0.5s;
  -o-transition: fill-opacity 0.5s;
  -webkit-transition: fill-opacity 0.5s;
  transition: fill-opacity 0.5s;
}
/* line 269, ../sass/screen.scss */
.area:hover {
  fill-opacity: 0.65;
  -moz-transition: fill-opacity 0.5s;
  -o-transition: fill-opacity 0.5s;
  -webkit-transition: fill-opacity 0.5s;
  transition: fill-opacity 0.5s;
}

/* line 274, ../sass/screen.scss */
.d3-tip {
  opacity: 0 !important;
  -moz-transition: opacity 0.5s;
  -o-transition: opacity 0.5s;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
}

/* line 281, ../sass/screen.scss */
.steps {
  margin-top: -75px;
  position: fixed;
  right: 40px;
  top: 50%;
  z-index: 1;
  cursor: pointer;
}
/* line 288, ../sass/screen.scss */
.steps .step {
  background-color: rgba(200, 200, 200, 0.3);
  position: absolute;
  width: 10px;
  height: 10px;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  border: 5px solid transparent;
  margin: 2px;
  display: block;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
/* line 299, ../sass/screen.scss */
.steps .step.all {
  background-color: rgba(238, 238, 238, 0.3);
}
/* line 301, ../sass/screen.scss */
.steps .step.all.current {
  background-color: rgba(238, 238, 238, 0.85);
}
/* line 305, ../sass/screen.scss */
.steps .step.less5 {
  background-color: rgba(255, 0, 0, 0.3);
}
/* line 307, ../sass/screen.scss */
.steps .step.less5.current {
  background-color: rgba(255, 0, 0, 0.85);
}
/* line 311, ../sass/screen.scss */
.steps .step.less12 {
  background-color: rgba(255, 130, 0, 0.3);
}
/* line 313, ../sass/screen.scss */
.steps .step.less12.current {
  background-color: rgba(255, 130, 0, 0.85);
}
/* line 317, ../sass/screen.scss */
.steps .step.less15 {
  background-color: rgba(41, 190, 206, 0.3);
}
/* line 319, ../sass/screen.scss */
.steps .step.less15.current {
  background-color: rgba(41, 190, 206, 0.85);
}
/* line 323, ../sass/screen.scss */
.steps .step.upto12 {
  background-color: rgba(238, 255, 82, 0.3);
}
/* line 325, ../sass/screen.scss */
.steps .step.upto12.current {
  background-color: rgba(238, 255, 82, 0.85);
}
/* line 329, ../sass/screen.scss */
.steps .step.upto15 {
  background-color: rgba(255, 82, 171, 0.3);
}
/* line 331, ../sass/screen.scss */
.steps .step.upto15.current {
  background-color: rgba(255, 82, 171, 0.85);
}
/* line 335, ../sass/screen.scss */
.steps .step.over15 {
  background-color: rgba(93, 163, 70, 0.3);
}
/* line 337, ../sass/screen.scss */
.steps .step.over15.current {
  background-color: rgba(93, 163, 70, 0.85);
}
/* line 341, ../sass/screen.scss */
.steps .step span {
  color: rgba(200, 200, 200, 0);
  display: block;
  margin-right: 10px;
  overflow: hidden;
  pointer-events: none;
  position: absolute;
  right: 100%;
  text-align: right;
  top: -5px;
  -moz-transition: all ease-in-out;
  -o-transition: all ease-in-out;
  -webkit-transition: all ease-in-out;
  transition: all ease-in-out;
  width: 0;
}
/* line 354, ../sass/screen.scss */
.steps .step.current, .steps .step:hover {
  width: 16px;
  height: 16px;
  -webkit-border-radius: 100%;
  border-radius: 100%;
  margin: -1px 0 0 -1px;
}
/* line 360, ../sass/screen.scss */
.steps .step.current span, .steps .step:hover span {
  color: rgba(200, 200, 200, 0.85);
  -moz-transition: all ease-in-out;
  -o-transition: all ease-in-out;
  -webkit-transition: all ease-in-out;
  transition: all ease-in-out;
  width: 150px;
}
/* line 366, ../sass/screen.scss */
.steps .step.current {
  background-color: rgba(200, 200, 200, 0.85);
}

/* line 371, ../sass/screen.scss */
#graph {
  height: 95vh;
  left: 4%;
  position: fixed;
  top: 5vh;
  width: 92%;
}
/* line 377, ../sass/screen.scss */
#graph #patternall rect {
  fill: #eeeeee;
}
/* line 380, ../sass/screen.scss */
#graph #patternless5 rect {
  fill: #d92626;
}
/* line 383, ../sass/screen.scss */
#graph #patternless12 rect {
  fill: #d98126;
}
/* line 386, ../sass/screen.scss */
#graph #patternless15 rect {
  fill: #4ea0a9;
}
/* line 389, ../sass/screen.scss */
#graph #patternupto12 rect {
  fill: #d9e56c;
}
/* line 392, ../sass/screen.scss */
#graph #patternupto15 rect {
  fill: #e56caa;
}
/* line 395, ../sass/screen.scss */
#graph #patternover15 rect {
  fill: #6f8069;
}

/* line 399, ../sass/screen.scss */
.slidesUp {
  left: 0;
  opacity: 0;
  position: fixed;
  text-align: center;
  top: 35%;
  width: 100%;
  z-index: -1;
}
/* line 407, ../sass/screen.scss */
.slidesUp p {
  color: #ddd;
  display: inline-block;
  font-family: Arial, sans-serif;
  line-height: 1.35;
  max-width: 950px;
  padding: 10px;
  width: 90%;
}

/* line 417, ../sass/screen.scss */
h4 {
  color: #ddd;
  font-family: 'Arvo', serif;
  font-size: 35px;
  font-weight: 700;
  letter-spacing: 2px;
  pointer-events: none;
  text-align: center;
  -moz-transition: opacity 0.5s, top 0.5s;
  -o-transition: opacity 0.5s, top 0.5s;
  -webkit-transition: opacity 0.5s, top 0.5s;
  transition: opacity 0.5s, top 0.5s;
  width: 100%;
}

/* line 429, ../sass/screen.scss */
.tipper line {
  stroke: rgba(200, 200, 200, 0.3);
  stroke-width: 1;
  stroke-dasharray: 10,5;
}

/* line 435, ../sass/screen.scss */
#content {
  margin: 25px;
}
/* line 437, ../sass/screen.scss */
#content section {
  height: 0vh;
  overflow: hidden;
}
/* line 440, ../sass/screen.scss */
#content section:first-child {
  height: 1000vh;
  overflow: visible;
}
/* line 443, ../sass/screen.scss */
#content section:first-child h3 {
  height: 1000vh;
}
/* line 448, ../sass/screen.scss */
#content section.allOfThem h3 {
  height: 200vh;
}
/* line 452, ../sass/screen.scss */
#content section:first-child {
  margin-top: 200vh;
}

/* line 458, ../sass/screen.scss */
.animated .slidesUp {
  opacity: 1;
  top: 6%;
  -moz-transition: opacity 0.5s, top 0.5s;
  -o-transition: opacity 0.5s, top 0.5s;
  -webkit-transition: opacity 0.5s, top 0.5s;
  transition: opacity 0.5s, top 0.5s;
}

/* line 464, ../sass/screen.scss */
.tipper {
  opacity: 0;
}
/* line 466, ../sass/screen.scss */
.tipper.active {
  opacity: 1;
}
/* line 470, ../sass/screen.scss */
.tipper .hover.rects rect {
  fill: rgba(255, 255, 255, 0);
}
/* line 474, ../sass/screen.scss */
.tipper .texts {
  fill: #2C2C2C;
  font-weight: 700;
  font-family: Arial, sans-serif;
  font-size: 12px;
  letter-spacing: 2px;
  pointer-events: none;
}
/* line 481, ../sass/screen.scss */
.tipper .texts .kil {
  fill: #6c6c6c;
  font-family: 'Oswald';
  font-weight: 100;
  font-size: 10px;
}
/* line 488, ../sass/screen.scss */
.tipper .label {
  fill-opacity: 0.95;
}
/* line 490, ../sass/screen.scss */
.tipper .label.all {
  fill: #eee;
}
/* line 493, ../sass/screen.scss */
.tipper .label.less5 {
  fill: #f00;
}
/* line 496, ../sass/screen.scss */
.tipper .label.less12 {
  fill: #FF8200;
}
/* line 499, ../sass/screen.scss */
.tipper .label.less15 {
  fill: #29BECE;
}
/* line 502, ../sass/screen.scss */
.tipper .label.upto12 {
  fill: #EEFF52;
}
/* line 505, ../sass/screen.scss */
.tipper .label.upto15 {
  fill: #FF52AB;
}
/* line 508, ../sass/screen.scss */
.tipper .label.over15 {
  fill: #5DA346;
}
/* line 512, ../sass/screen.scss */
.tipper rect.filtered {
  fill: rgba(221, 221, 221, 0.95);
  stroke-width: 1;
}

/* line 559, ../sass/screen.scss */
tspan {
  font-family: 'Arial';
}

/* line 562, ../sass/screen.scss */
tspan.estimate {
  font-size: 8px;
  text-anchor: middle;
}

/* line 566, ../sass/screen.scss */
tspan.low, tspan.high {
  fill: #777;
  font-size: 8px;
  letter-spacing: 0;
}

/* line 571, ../sass/screen.scss */
tspan.low {
  text-anchor: start;
}

/* line 574, ../sass/screen.scss */
tspan.high {
  text-anchor: end;
}

/* line 577, ../sass/screen.scss */
tspan.est {
  font-size: 16px;
}

/* line 580, ../sass/screen.scss */
line {
  fill: none;
  shape-rendering: crispEdges;
  stroke: #aaa;
  stroke-width: 1;
}

/* line 586, ../sass/screen.scss */
.axis {
  fill: #A7C0B8;
  font-family: 'Arial', sans-serif;
  font-size: 12px;
  font-weight: 300;
  letter-spacing: 0.5px;
}
/* line 592, ../sass/screen.scss */
.axis path {
  fill: none;
  shape-rendering: crispEdges;
  stroke: #aaa;
  stroke-width: 1;
}

@-webkit-keyframes slideOutUp {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    visibility: hidden;
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
  }
}
@keyframes slideOutUp {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    visibility: hidden;
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
  }
}
